<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebAppSmartLearning</display-name>
  <welcome-file-list>
    <welcome-file>html/indexSmartLearning.html</welcome-file>

  </welcome-file-list>
  
  <servlet>
  <description></description>
  <display-name>RegistrazioneServlet</display-name>
  <servlet-name>RegistrazioneServlet</servlet-name>
  <servlet-class>webLayer.servlets.RegistrazioneServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>RegistrazioneServlet</servlet-name>
  <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>LoginServlet</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>webLayer.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>LezioniUtenteServlet</display-name>
  <servlet-name>LezioniUtenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.LezioniUtenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LezioniUtenteServlet</servlet-name>
  <url-pattern>/riservate/lezioniutente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>UpgradeToDocenteServlet</display-name>
  <servlet-name>UpgradeToDocenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.UpgradeToDocenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UpgradeToDocenteServlet</servlet-name>
  <url-pattern>/riservate/upgradetodocente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>UtenteServlet</display-name>
  <servlet-name>UtenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.UtenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UtenteServlet</servlet-name>
  <url-pattern>/riservate/utente</url-pattern>
  <url-pattern>/riservate/docente/utente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>LezioneDocenteServlet</display-name>
  <servlet-name>LezioneDocenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.LezioneDocenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LezioneDocenteServlet</servlet-name>
  <url-pattern>/riservate/docente/lezionedocente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>LezioniDocenteServlet</display-name>
  <servlet-name>LezioniDocenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.LezioniDocenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LezioniDocenteServlet</servlet-name>
  <url-pattern>/riservate/docente/lezionidocente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>TopicsServlet</display-name>
  <servlet-name>TopicsServlet</servlet-name>
  <servlet-class>webLayer.servlets.TopicsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>TopicsServlet</servlet-name>
  <url-pattern>/topics</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>ProgrammazioneDocenteServlet</display-name>
  <servlet-name>ProgrammazioneDocenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.ProgrammazioneDocenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProgrammazioneDocenteServlet</servlet-name>
  <url-pattern>/riservate/docente/programmazionedocente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>ProgrammazioniServlet</display-name>
  <servlet-name>ProgrammazioniServlet</servlet-name>
  <servlet-class>webLayer.servlets.ProgrammazioniServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProgrammazioniServlet</servlet-name>
  <url-pattern>/riservate/programmazioni</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <description></description>
  <display-name>LezioniPrenotateServlet</display-name>
  <servlet-name>LezioniPrenotateServlet</servlet-name>
  <servlet-class>webLayer.servlets.LezioniPrenotateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LezioniPrenotateServlet</servlet-name>
  <url-pattern>/riservate/lezioniprenotate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>PrenotazioneServlet</display-name>
  <servlet-name>PrenotazioneServlet</servlet-name>
  <servlet-class>webLayer.servlets.PrenotazioneServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>PrenotazioneServlet</servlet-name>
  <url-pattern>/riservate/prenotazione</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>VideoCallDocenteServlet</display-name>
  <servlet-name>VideoCallDocenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.VideoCallDocenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>VideoCallDocenteServlet</servlet-name>
  <url-pattern>/riservate/docente/videocalldocente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>VideoCallUtenteServlet</display-name>
  <servlet-name>VideoCallUtenteServlet</servlet-name>
  <servlet-class>webLayer.servlets.VideoCallUtenteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>VideoCallUtenteServlet</servlet-name>
  <url-pattern>/riservate/videocallutente</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>PrenotazioniServlet</display-name>
  <servlet-name>PrenotazioniServlet</servlet-name>
  <servlet-class>webLayer.servlets.PrenotazioniServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>PrenotazioniServlet</servlet-name>
  <url-pattern>/riservate/prenotazioni</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>webLayer.filters.AuthFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/riservate/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
   
  <filter>
    <filter-name>DocFilter</filter-name>
    <filter-class>webLayer.filters.DocFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>DocFilter</filter-name>
    <url-pattern>/riservate/docente/*</url-pattern>
  </filter-mapping>
  
  
</web-app>